<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 d-xl-block d-lg-block d-md-block d-none bg-black">
      <%=render 'menus/cat-menu'%>
    </div>
    <div class="col-lg-2 d-xl-none d-lg-none d-md-none d-block bg-black">
      <%=render 'menus/menu_mobile'%>
    </div>
    <div class="col-lg-10 col-12">
      <div class="row">
        <div class="col-lg-12">
          <img class="img-fluid m-top-mini" src="https://actualite.cd/sites/default/files/styles/banniere_transversale/public/2020-01/banie%CC%80re%201.jpg?itok=rNJp-Eqn">
        </div>
      </div>
      <div class="row">
        <%@une.each do |article|%>
        <div class="col-lg-7">
          <%=link_to article do %>
            <%= image_tag article.image.url, class:"img-fluid m-top" %>
          <% end %>
        </div>
        <div class="col-lg-5 m-top-mini">
          <h5 class="rubrique-titre">à la une</h5>
          <hr>
          <span class="categorie-titre-minie"><%=article.rubrique.titre%></span>
          <h2 class="article-titre">
          <%=link_to article do %>
                <%= article.titre %>
          <% end %>
          </h2>
          <h6><%= article.votes_for.size %> réaction(s)</h6>
          <hr>
        </div>
        <%end%>
      </div>
      <div class="row m-top-mini">
        <% @tops.each do |article| %>
        <div class="col-lg-3 col-6 text-center">
          <%=link_to article do %>
            <%= image_tag article.image.url, class:"img-fluid mb-2" %>
          <% end %>
          <span class="categorie-titre-petite"><%=article.rubrique.titre%></span>
          <h6 class="article-titre">
            <%=link_to article do %><%= article.titre %><% end %>
          </h6>
          <h6><small><%= article.votes_for.size %> réaction(s)</small></h6>
        </div>
        <% end %>
      </div>

            <div class="row m-top">
              <div class="col-lg-12 mb-2">
                <h1 class="rubrique-titre">autres sujets</h1>
              <hr>
              </div>
        <% @articles.each do |article| %>
        <div class="col-lg-12 col-12 mb-4">
          <div class="row">
            <div class="col-lg-6 col-6 m-top-mini">
              <span class="categorie-titre"><%=article.rubrique.titre%></span>
              <h2 class="article-titre">
                <%=link_to article do %>
                <%= article.titre %>
                <% end %>
              </h2>
              <h6><%= article.votes_for.size %> réaction(s)</h6>
            </div>

            <div class="col-lg-6 col-6">
              <%=link_to article do %>
            <%= image_tag article.image.url, class:"img-fluid" %>
            <% end %>
            </div>



          </div>
        </div>
        <% end %>
      </div>




    </div>
  </div>
</div>

