<%=render 'menus/cat-menu'%>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-1 col-12 mb-4 mt-4">
      <div class="row">
        <%@une.each do |article|%>
        <div class="niuz-container mt-4">
          <div class="niuz-entete">
            <h5 class="niuz-titre">
          <%=link_to article do %>
               <%= article.titre %> 
          <% end %>
          
        </h5>
          </div>
          <%=link_to article do %>
            <%= image_tag article.image.url, class:"img-fluid m-top" %>
          <% end %>
        <div class="niuz-corps">
            <p class="niuz-contenu">
               <%= article.contenu %> 
          
        </p>
          <span>
            <%= link_to article.agree, like_article_path(article),class:"btn btn-success", method: :put %>
            <%= link_to article.disagree, dislike_article_path(article),class:"btn btn-danger", method: :put %>  
            <button type="button" class="btn btn-primary"><i class="fab fa-facebook-f"></i> Partager sur Facebook</button>
            <button type="button" class="btn btn-info"><i class="fab fa-twitter"></i> Tweeter</button>
          </span>
        </div>
        </div>
        <%end%>
      </div>
    </div>
    <div class="col-lg-3 col-12 mt-4">
      <%=render 'menus/smenu'%>
    </div>
  </div>
</div>