<%=render 'menus/cat-menu'%>
<%=render 'menus/menu_mobile'%>
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-12 mt-4 d-xl-block d-lg-block d-md-block d-none niuz-side-left">
      <%= render "menus/menuv" %>
    </div>
    <div class="col-lg-7 col-12 mb-4 mt-4">
      <div class="row">
        <%@une.each do |article|%>
        <div class="niuz-container mt-4">
          <div class="niuz-entete">
            <h5 class="niuz-titre">
         
               <%= article.titre %> 
          
          
        </h5>
          </div>
            <%= image_tag article.image.url, class:"img-fluid m-top" %>
        <div class="niuz-corps">
            <p class="niuz-contenu">
               <%= article.contenu %> 
        <div class="row">
          <div class="col-12">
            <%= link_to article.agree, like_article_path(article), class:"btn btn-primary", method: :put, remote: true %> 
            <%= link_to article.disagree, dislike_article_path(article), class:"btn btn-danger", method: :put, remote: true %>
          </div>
          <div class="col-lg-12">
          <span class="d-xl-block d-lg-block d-md-block d-none" id="art-<%= article.id %>">
            <%= article.get_dislikes.size%> personnes ont dit "<%= article.disagree%>"
            <%= article.get_likes.size%> personnes ont dit "<%= article.agree%>
          </span>
          </div>
        </div>  
        </p>
        </div>
        </div>
        <%end%>
      </div>
    </div>
    <div class="col-lg-3 col-12 mt-4 d-xl-block d-lg-block d-md-block d-none niuz-side">
      <%=render 'menus/smenu'%>
    </div>
  </div>
</div>