<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 d-xl-block d-lg-block d-md-block d-none bg-black">
      <%=render 'menus/cat-menu'%>
    </div>
    <div class="col-lg-2 d-xl-none d-lg-none d-md-none d-block bg-black">
      <%=render 'menus/menu_mobile'%>
    </div>
    <div class="col-lg-10 col-12">
      <div class="row">
        <%@une.each do |article|%>
        <div class="col-lg-7">
          <%=link_to article do %>
            <%= image_tag article.image.url, class:"img-fluid m-top" %>
          <% end %>
        </div>
        <div class="col-lg-5 m-top-mini">
          <h5 class="rubrique-titre">à la une 
            <span class="categorie-titre-minie ml-4">
              <%=article.rubrique.titre%>
              </span>
            </h5>
            <hr>
          <h2 class="article-titre">
          <%=link_to article do %>
                <%= article.titre %>
          <% end %>
          </h2>
          <p class="texte-reaction">
            <small><%= article.votes_for.size %> réaction(s)</small>
          </p>
          <hr>
        </div>
        <%end%>
      </div>
      <div class="row m-top-mini">
        <div class="col-12">
          <hr class="main-separateur">
          <h4>Les plus chauds</h4>
        </div>
        <% @tops.each do |article| %>
        <div class="col-lg-3 col-6 text-center">
          <%=link_to article do %>
            <%= image_tag article.image.url, class:"img-fluid mb-2" %>
          <% end %>
          <span class="categorie-titre-petite"><%=article.rubrique.titre%></span>
          <h6 class="article-titre-mini">
            <%=link_to article do %><%= article.titre %><% end %>
          </h6>
          <h6 class="texte-reaction">
            <small><%= article.votes_for.size %> réaction(s)</small>
          </h6>
        </div>
        <% end %>
      </div>

      <div class="row m-top">
          <div class="col-lg-12 mb-2">
              <hr class="politique-separateur">
              <h1 class="rubrique-titre politique-entete">Politique</h1>
              <hr>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <% @politune.each do |article| %>
              <div class="col-lg-12 col-12 mb-4">
                <div class="row">
                  <div class="col-lg-12 col-6">
                    <%=link_to article do %>
                      <%= image_tag article.image.url, class:"img-fluid" %>
                    <% end %>
                    <h2 class="article-titre-mini">
                      <%=link_to article do %>
                        <%= article.titre %>
                      <% end %>
                    </h2>
                    <p class="texte-reaction">
                      <small><%= article.votes_for.size %> réaction(s)</small>
                    </p>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <% @politiques.each do |article| %>
              <div class="col-lg-6 col-12 mb-2">
                <div class="row">
                  <div class="col-lg-12 col-6">
                    <%=link_to article do %>
                      <%= image_tag article.image.url, class:"img-fluid" %>
                    <% end %>
                    <h2 class="article-titre-petit">
                      <%=link_to article do %>
                        <%= article.titre %>
                      <% end %>
                    </h2>
                    <p class="texte-reaction">
                      <small><%= article.votes_for.size %> réaction(s)</small>
                    </p>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>

              <div class="row m-top">
          <div class="col-lg-12 mb-2">
              <hr class="politique-separateur">
              <h1 class="rubrique-titre politique-entete">Sport</h1>
              <hr>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <% @sportune.each do |article| %>
              <div class="col-lg-12 col-12 mb-4">
                <div class="row">
                  <div class="col-lg-12 col-6">
                    <%=link_to article do %>
                      <%= image_tag article.image.url, class:"img-fluid" %>
                    <% end %>
                    <h2 class="article-titre-mini">
                      <%=link_to article do %>
                        <%= article.titre %>
                      <% end %>
                    </h2>
                    <p class="texte-reaction">
                      <small><%= article.votes_for.size %> réaction(s)</small>
                    </p>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <% @sports.each do |article| %>
              <div class="col-lg-6 col-12 mb-2">
                <div class="row">
                  <div class="col-lg-12 col-6">
                    <%=link_to article do %>
                      <%= image_tag article.image.url, class:"img-fluid" %>
                    <% end %>
                    <h2 class="article-titre-petit">
                      <%=link_to article do %>
                        <%= article.titre %>
                      <% end %>
                    </h2>
                    <p class="texte-reaction">
                      <small><%= article.votes_for.size %> réaction(s)</small>
                    </p>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>


              <div class="row m-top">
          <div class="col-lg-12 mb-2">
              <hr class="politique-separateur">
              <h1 class="rubrique-titre politique-entete">Célébrités</h1>
              <hr>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <% @celebune.each do |article| %>
              <div class="col-lg-12 col-12 mb-4">
                <div class="row">
                  <div class="col-lg-12 col-6">
                    <%=link_to article do %>
                      <%= image_tag article.image.url, class:"img-fluid" %>
                    <% end %>
                    <h2 class="article-titre-mini">
                      <%=link_to article do %>
                        <%= article.titre %>
                      <% end %>
                    </h2>
                    <p class="texte-reaction">
                      <small><%= article.votes_for.size %> réaction(s)</small>
                    </p>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="row">
              <% @celebs.each do |article| %>
              <div class="col-lg-6 col-12 mb-2">
                <div class="row">
                  <div class="col-lg-12 col-6">
                    <%=link_to article do %>
                      <%= image_tag article.image.url, class:"img-fluid" %>
                    <% end %>
                    <h2 class="article-titre-petit">
                      <%=link_to article do %>
                        <%= article.titre %>
                      <% end %>
                    </h2>
                    <p class="texte-reaction">
                      <small><%= article.votes_for.size %> réaction(s)</small>
                    </p>
                  </div>
                </div>
              </div>
              <% end %>
            </div>
          </div>
        </div>





    </div>
  </div>
</div>

