<%= link_to 'New Article', new_article_path %>
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %> |
<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %>

        <!-- Comments Form -->
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

        <!-- Single Comment -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
          </div>
        </div>

        <!-- Comment with nested comments -->
        <div class="media mb-4">
          <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
          <div class="media-body">
            <h5 class="mt-0">Commenter Name</h5>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

            <div class="media mt-4">
              <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
              <div class="media-body">
                <h5 class="mt-0">Commenter Name</h5>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
              </div>
            </div>

          </div>
        </div>



         <span class="d-xl-block d-lg-block d-md-block d-none">
            
            <%= link_to like_article_path(article), method: :get, remote: true, class: 'like_post' %>
            <%= link_to article.disagree, dislike_article_path(article),class:"btn btn-danger", method: :put %>
            <button type="button" class="btn btn-primary"><i class="fab fa-facebook-f"></i> Partager</button>
            <button type="button" class="btn btn-info"><i class="fab fa-twitter"></i> Tweeter</button>
          </span>
          <!---------bouton pour mobile-------->
          <span class="d-xl-none d-lg-none d-md-none d-block">
            <%= link_to article.agree, like_article_path(article),class:"btn btn-success btn-sm", method: :put %>
            <%= link_to article.disagree, dislike_article_path(article),class:"btn btn-danger btn-sm", method: :put %>  
            <button type="button" class="btn btn-primary btn-sm"><i class="fab fa-facebook-f"></i> Partager</button>
            <button type="button" class="btn btn-info btn-sm"><i class="fab fa-twitter"></i> Tweeter</button>
          </span>



          <%=# link_to article.agree, like_article_path(article),class:"btn btn-success", method: :put, remote: true %>
          <%=# link_to article.disagree, dislike_article_path(article),class:"btn btn-danger", method: :put %>


                    <span class="d-xl-block d-lg-block d-md-block d-none">
            
            <button type="button" class="btn btn-primary"><i class="fab fa-facebook-f"></i> Partager</button>
            <button type="button" class="btn btn-info"><i class="fab fa-twitter"></i> Tweeter</button>
          </span>